<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Detail:</b>
  <%= @product.detail %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>
<p>
  <b>Model:</b>
  <%= @product.model %>
</p>

<p>
  <b>Product Id:</b>
  <%= @product.product_id %>
</p>

<p>
  <b>Category:</b>
  <%= @product.category_id %>
  (<%= @product_category %>)
</p>

<p>
  <b>Sub category:</b>
  <%= @product.sub_category_id %>
  (<%= @product_sub_category %>)
</p>

<p>
  <b>Brand:</b>
  <%= @product.brand_id %>
  (<%= @product_brand %>)
</p>

<% if @product.product_pic.url.present? %>
  <b>Picture:</b><br/>
  <%= image_tag @product.product_pic.url, alt: @product.name %>
<% else %>
  <p> No picture uploaded yet</p>  

<br/>
<!-- <%= check_box_tag "compare",1,false %> -->


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
