<!DOCTYPE html>
<html>
<head>
  <title>Pcshop</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
	<%= render partial: "shared/header" %>
	<%= render partial: "shared/main_menu" %>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span2">
				<%= render partial: "shared/sidebar" %>
			</div>
			<div class="span10">
				<%= yield %>
			</div>
		</div>
	</div>
	<%= render partial: "shared/footer" %>
</div>
</body>
</html>
